<%= image_tag "logo.png" %>
<h1>Platforms</h1>

<ul>
  <% @platforms.each do |platform| %>
    <li><%= link_to platform.console, platform_path(platform) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New platform", new_platform_path %>
<br>
<%= link_to "New Game", new_game_path %>
<br>
<%= link_to "New gear", new_gear_path %>
