<div class="home">

  <div class="top-content-section">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><img src="https://vignette.wikia.nocookie.net/metalgear/images/a/af/FOXHOUNDPeacewalker.png/revision/latest?cb=20140208024901" alt="logo"></li>
          <li><u><%= link_to "Home", root_path %></u></li>
          </li><%= link_to "Platforms", platforms_path %></li>
          </li><%= link_to "Games", games_path %></li>
          </li><%= link_to "Mechs", mechs_path %></li>
          </li><%= link_to "Characters", characters_path %></li>
          </li><%= link_to "About", about_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="middle-content-section">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Metal_Gear_Solid_logo.png" height="600" width="600" alt="logo"></li>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
  </div>

</div>
