<% content_for(:background, "characters") %>
<% content_for(:homelink, "nounderline") %>
<% content_for(:platformlink, "nounderline") %>
<% content_for(:gameslink, "nounderline") %>
<% content_for(:mechslink, "nounderline") %>
<% content_for(:characterslink, "underline") %>
<% content_for(:aboutlink, "nounderline") %>
<div class="center-block">
  <div class="breadcrumbs">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/characters/<%= @character.id %>"><%= @character.char_name %></a></li>
      </ul>
    </nav>
  </div><div class="middle-content-section">
    <div class="middle-content-text">
      <h1><%= @character.char_name %></h1>

      <p><%= link_to "Delete character", character_path(@character),
                              :data => {:confirm => "Are you sure?",
                                             :method => "delete"} %></p>

      <p><%= link_to "Return to characters", characters_path %></p>
    </div>
  </div>
</div>
