<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
      <div class="<%= yield(:background) %>">
        <div class="left-content-section">
          <ul class="menu">
            <li class="menu-text"><img src="https://vignette.wikia.nocookie.net/metalgear/images/a/af/FOXHOUNDPeacewalker.png/revision/latest?cb=20140208024901" alt="logo"></li>
            <li><%= link_to "Home", root_path %></li>
            </li><%= link_to "Platforms", platforms_path %></li>
            <br>
            </li><%= link_to "Games", games_path %></li>
            <br>
            </li><u><%= link_to "Mechs", mechs_path %></u></li>
            <br>
            </li><%= link_to "Characters", characters_path %></li>
            <br>
            </li><%= link_to "About", about_path %></li>
          </ul>

        </div>

        <div class="mid-content-section">

          <%= yield %>
        </div>

        <div class="right-content-section">
          
        </div>
        <!-- <div class="bottom-content-section" data-magellan data-threshold="0">
        </div> -->
      </div>
  </body>
</html>
